html {
  font-family: sans-serif;
  line-height: 1.5;
  }

.masthead {
   background-color: silver;
  }

.lightercolor {
  background-color: #efefef;
}

header li:hover {
  background-color: #1579db;
}

header a:hover {
  color: white;
}

a {
  text-decoration: none;
}

.margin {
  margin-right: -1em;
}

figcaption {
  font-size: 1rem;
}

li {
  list-style-type: none;
}

dd {
  margin: 0;
}

.lightcolor {
  background-color: lightgrey;
  margin: 0;
}

@media only screen and (min-width: 25em) {
   nav ul {
     display: inline-block;
   }
}

@media only screen and (min-width: 38em) {
  nav h1 {
    text-align: left;
}
    li {
      display: inline-block;
  }
}
